<div class="container">
  <div class="categories">
    <img src="assets/category.png" alt="">
    <p>Categories</p>
  </div>

  <div class="bread-crumb">
    <p>
      <span>All</span>
      <span>/</span>
      <span>Academic</span>
      <span>/</span>
      Math & Science
    </p>
  </div>

  <div class="top sections">
    <p class="title">Top Courses <span>in</span> "Math & Science"</p>
  </div>

  <div class="courses">
    <div class="course">
      <div class="image">
        <img src="assets/course-pic.jpg" alt="">
      </div>
      <div class="price">
        <p></p>
      </div>
      <div class="details">
        <p class="title">Web Programming Basics for Tweenies</p>
        <p class="vendor">Clearcraft Educational Services</p>
        <ul class="posts">
          <li>
            <img src="assets/video.png" alt="">
            <p>12 Videos</p>
          </li>
          <li>
            <img src="assets/note.png" alt="">
            <p>4 Notes</p>
          </li>
          <li>
            <img src="assets/flashcard.png" alt="">
            <p>2 Flash Cards</p>
          </li>
        </ul>
        <div class="rating">
          <ul class="stars">
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
          </ul>
          <p class="number">4.2
            <span>(236)</span>
          </p>
        </div>
        <button>Join Course</button>
      </div>
    </div>

    <div class="course paid">
      <div class="image">
        <img src="assets/course-pic.jpg" alt="">
      </div>
      <div class="price">
        <p>N25,000</p>
      </div>
      <div class="details">
        <p class="title">Web Programming Basics for Tweenies</p>
        <p class="vendor">Clearcraft Educational Services</p>
        <ul class="posts">
          <li>
            <img src="assets/video.png" alt="">
            <p>12 Videos</p>
          </li>
          <li>
            <img src="assets/note.png" alt="">
            <p>4 Notes</p>
          </li>
          <li>
            <img src="assets/flashcard.png" alt="">
            <p>2 Flash Cards</p>
          </li>
        </ul>
        <div class="rating">
          <ul class="stars">
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
          </ul>
          <p class="number">4.2
            <span>(236)</span>
          </p>
        </div>
        <button>Join Course</button>
      </div>
    </div>

    <div class="course">
      <div class="image">
        <img src="assets/course-pic.jpg" alt="">
      </div>
      <div class="price">
        <p></p>
      </div>
      <div class="details">
        <p class="title">Web Programming Basics for Tweenies</p>
        <p class="vendor">Clearcraft Educational Services</p>
        <ul class="posts">
          <li>
            <img src="assets/video.png" alt="">
            <p>12 Videos</p>
          </li>
          <li>
            <img src="assets/note.png" alt="">
            <p>4 Notes</p>
          </li>
          <li>
            <img src="assets/flashcard.png" alt="">
            <p>2 Flash Cards</p>
          </li>
        </ul>
        <div class="rating">
          <ul class="stars">
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
          </ul>
          <p class="number">4.2
            <span>(236)</span>
          </p>
        </div>
        <button>Join Course</button>
      </div>
    </div>
    
    <div class="course paid">
      <div class="image">
        <img src="assets/course-pic.jpg" alt="">
      </div>
      <div class="price">
        <p>N25,000</p>
      </div>
      <div class="details">
        <p class="title">Web Programming Basics for Tweenies</p>
        <p class="vendor">Clearcraft Educational Services</p>
        <ul class="posts">
          <li>
            <img src="assets/video.png" alt="">
            <p>12 Videos</p>
          </li>
          <li>
            <img src="assets/note.png" alt="">
            <p>4 Notes</p>
          </li>
          <li>
            <img src="assets/flashcard.png" alt="">
            <p>2 Flash Cards</p>
          </li>
        </ul>
        <div class="rating">
          <ul class="stars">
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
          </ul>
          <p class="number">4.2
            <span>(236)</span>
          </p>
        </div>
        <button>Join Course</button>
      </div>
    </div>

    <div class="course">
      <div class="image">
        <img src="assets/course-pic.jpg" alt="">
      </div>
      <div class="price">
        <p></p>
      </div>
      <div class="details">
        <p class="title">Web Programming Basics for Tweenies</p>
        <p class="vendor">Clearcraft Educational Services</p>
        <ul class="posts">
          <li>
            <img src="assets/video.png" alt="">
            <p>12 Videos</p>
          </li>
          <li>
            <img src="assets/note.png" alt="">
            <p>4 Notes</p>
          </li>
          <li>
            <img src="assets/flashcard.png" alt="">
            <p>2 Flash Cards</p>
          </li>
        </ul>
        <div class="rating">
          <ul class="stars">
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
          </ul>
          <p class="number">4.2
            <span>(236)</span>
          </p>
        </div>
        <button>Join Course</button>
      </div>
    </div>
  
  </div>

  <div class="sections">
    <p class="title">Popular Courses</p>
  </div>
  
  <div class="courses">
    <div class="course">
      <div class="image">
        <img src="assets/course-pic.jpg" alt="">
      </div>
      <div class="price">
        <p></p>
      </div>
      <div class="details">
        <p class="title">Web Programming Basics for Tweenies</p>
        <p class="vendor">Clearcraft Educational Services</p>
        <ul class="posts">
          <li>
            <img src="assets/video.png" alt="">
            <p>12 Videos</p>
          </li>
          <li>
            <img src="assets/note.png" alt="">
            <p>4 Notes</p>
          </li>
          <li>
            <img src="assets/flashcard.png" alt="">
            <p>2 Flash Cards</p>
          </li>
        </ul>
        <div class="rating">
          <ul class="stars">
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
          </ul>
          <p class="number">4.2
            <span>(236)</span>
          </p>
        </div>
        <button>Join Course</button>
      </div>
    </div>
  
    <div class="course paid">
      <div class="image">
        <img src="assets/course-pic.jpg" alt="">
      </div>
      <div class="price">
        <p>N25,000</p>
      </div>
      <div class="details">
        <p class="title">Web Programming Basics for Tweenies</p>
        <p class="vendor">Clearcraft Educational Services</p>
        <ul class="posts">
          <li>
            <img src="assets/video.png" alt="">
            <p>12 Videos</p>
          </li>
          <li>
            <img src="assets/note.png" alt="">
            <p>4 Notes</p>
          </li>
          <li>
            <img src="assets/flashcard.png" alt="">
            <p>2 Flash Cards</p>
          </li>
        </ul>
        <div class="rating">
          <ul class="stars">
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
          </ul>
          <p class="number">4.2
            <span>(236)</span>
          </p>
        </div>
        <button>Join Course</button>
      </div>
    </div>

    <div class="course">
      <div class="image">
        <img src="assets/course-pic.jpg" alt="">
      </div>
      <div class="price">
        <p></p>
      </div>
      <div class="details">
        <p class="title">Web Programming Basics for Tweenies</p>
        <p class="vendor">Clearcraft Educational Services</p>
        <ul class="posts">
          <li>
            <img src="assets/video.png" alt="">
            <p>12 Videos</p>
          </li>
          <li>
            <img src="assets/note.png" alt="">
            <p>4 Notes</p>
          </li>
          <li>
            <img src="assets/flashcard.png" alt="">
            <p>2 Flash Cards</p>
          </li>
        </ul>
        <div class="rating">
          <ul class="stars">
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
          </ul>
          <p class="number">4.2
            <span>(236)</span>
          </p>
        </div>
        <button>Join Course</button>
      </div>
    </div>
    
    <div class="course paid">
      <div class="image">
        <img src="assets/course-pic.jpg" alt="">
      </div>
      <div class="price">
        <p>N25,000</p>
      </div>
      <div class="details">
        <p class="title">Web Programming Basics for Tweenies</p>
        <p class="vendor">Clearcraft Educational Services</p>
        <ul class="posts">
          <li>
            <img src="assets/video.png" alt="">
            <p>12 Videos</p>
          </li>
          <li>
            <img src="assets/note.png" alt="">
            <p>4 Notes</p>
          </li>
          <li>
            <img src="assets/flashcard.png" alt="">
            <p>2 Flash Cards</p>
          </li>
        </ul>
        <div class="rating">
          <ul class="stars">
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
          </ul>
          <p class="number">4.2
            <span>(236)</span>
          </p>
        </div>
        <button>Join Course</button>
      </div>
    </div>
    
    <div class="course">
      <div class="image">
        <img src="assets/course-pic.jpg" alt="">
      </div>
      <div class="price">
        <p></p>
      </div>
      <div class="details">
        <p class="title">Web Programming Basics for Tweenies</p>
        <p class="vendor">Clearcraft Educational Services</p>
        <ul class="posts">
          <li>
            <img src="assets/video.png" alt="">
            <p>12 Videos</p>
          </li>
          <li>
            <img src="assets/note.png" alt="">
            <p>4 Notes</p>
          </li>
          <li>
            <img src="assets/flashcard.png" alt="">
            <p>2 Flash Cards</p>
          </li>
        </ul>
        <div class="rating">
          <ul class="stars">
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/yellow-star.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
            <li>
              <img src="assets/star-gray.png" alt="">
            </li>
          </ul>
          <p class="number">4.2
            <span>(236)</span>
          </p>
        </div>
        <button>Join Course</button>
      </div>
    </div>
  </div>

</div>
