<div class="container">
  <div class="bartop">
    <div class="content">
      <app-header></app-header>

      <div class="bread-crumb">
        <p>
          <span>All</span>
          <span class="divide">/</span>
          <span>Academic</span>
          <span class="divide">/</span>
          Math & Science
        </p>
      </div>

      <div class="course-info">
        <div class="text">
          <p>Course Title</p>
          <p>How to make money with your online business</p>
        </div>
        <div class="action paid"> <!-- paid -->
          <div class="price">
            <p>N25,000</p>
          </div>
          <div class="join">
            <p>Join Course</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="details">
    <div class="col1">
      <div class="thumbnail">
        <img class="main" src="assets/course-pic.jpg" alt="">
        <img class="play" src="assets/play-white.png" alt="">
      </div>
      <div class="outlines">
        <p class="title">Course Outline</p>
        <div class="outline">
          <div class="main">
            <p>The Introduction</p>
            <img src="assets/minimize.png" alt="">
          </div>
          <ul>
            <li>
              <div>
                <img src="assets/video.png" alt="">
                <p class="topic">True Entrepreneurship Tales  
                  <span class="size">• 4:57</span></p>
              </div>
                <p class="desc">This is the text that accompanies the video that 
                Shania Twain posted earlier yesterday from home</p>
            </li>
          </ul>
        </div>

        <div class="outline closed">
          <div class="main">
            <p>Business and the Entrpreneur</p>
            <img src="assets/maximize.png" alt="">
          </div>
        </div>

        <div class="outline closed">
          <div class="main">
            <p>In Conclusion</p>
            <img src="assets/maximize.png" alt="">
          </div>
        </div>

      </div>
    </div>    
    <div class="col2">
      <div class="overview">
        <p class="title">Course Overview</p>
        <p>Complete guide to practical NLP: spam detection, 
          sentiment analysis, article spinners, and latent 
          semantic analysis</p> 
          
        <p>Spam detection, sentiment analysis, article spinners, 
          and latent semantic analysis</p>
      </div>

      <div class="counter">
        <ul>
          <li><img src="assets/video-lg.png" alt=""><p>5 Videos</p></li>
          <li><img src="assets/note-lg.png" alt=""><p>8 Notes</p></li>
          <li><img src="assets/flashcard-lg.png" alt=""><p>8 Flash Cards</p></li>
        </ul>
      </div>

      <div class="rating">
        <ul>
          <li><img src="assets/yellow-star-lg.png" alt=""></li>
          <li><img src="assets/yellow-star-lg.png" alt=""></li>
          <li><img src="assets/yellow-star-lg.png" alt=""></li>
          <li><img src="assets/yellow-star-lg.png" alt=""></li>
          <li><img src="assets/star-gray-lg.png" alt=""></li>
        </ul>
        <p>4.1 <span>(104)</span></p>
      </div>

      <div class="vendor">
        <div class="picture">
          <img src="assets/profile2.jpg" alt="">
        </div>
        <div class="name">
          <p>Effizy Global Networks</p>
          <p>Course Creator</p>
        </div>
      </div>
    </div>    
  </div>

  <app-footer></app-footer>
</div>
