<div class="container">

  <div class="image-slide">
    <div class="images">
      <img src="assets/slide-mobile.jpg" alt="">
    </div>

    <header>
      <app-header></app-header>
    </header>
    <!-- <div class="slide-nav">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div> -->

    <form class="slide-info">
      <div class="text">
        <p>Learn from the best minds and companies</p>
        <p>Improve or add to your current skills</p>
      </div>

      <div class="search-box">
        <input type="text" placeholder="What do you want to learn today?">
        <button><img src="assets/search.png" alt=""></button>
      </div>
    </form>
  </div>

  <div class="courses">
    <app-courses></app-courses>
  </div>
  
</div>
